@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: marcellus;
  src: url(../font/marcellus.ttf);
}
@font-face {
  font-family: lora;
  src: url(../font/Lora-VariableFont_wght.ttf);
}
